
root = true            #所在目录是根目录，设置此项相当于封顶，查找到这层目录就没了       
 
[*]                    #对于所有文件   #下面的这些设置就很好看懂了
indent_style = space   #缩进风格
indent_size = 4
end_of_line = lf       #不知道怎么翻译,sorry   
charset = utf-8        #文件编码格式
#tab_width = 4          #不用说也知道
insert_final_newline = true   #文件结尾添加新行，省的警告
